* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.start-button {
    padding: 1.5rem 6rem;
    border-radius: 1rem;
    font-size: calc(1rem + 1vw);
    background-color: rgb(137, 240, 145);
}

.two-player-input {
    display: none;
}

.ai-input {
    display: none;
}

.board {
    display: none;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
    font-family: 'Arial';
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25vmin;
    min-height: 25vmin;
    justify-self: center;
    font-size: calc(3rem + 3vw);
    border: 1px solid black;
    font-weight: 1000;
    cursor: default;
}

.win {
    display: none;
}