@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --green: rgb(157, 255, 165);
    --red: rgb(250, 150, 150);
    --btn-width: 14rem;
    --btn-height: 4rem;
    --btn-border: 2px solid rgb(107, 107, 107);
    --btn-radius: 1rem;
    --btn-font-size: calc(1.5rem + 0.5vw);
    --sqr-border-clr: rgb(37, 37, 37);
    --sqr-border: 8px solid var(--sqr-border-clr);
    --sqr-radius: 1rem;
}

body {
    background-image: url(./img/background.svg);
    background-size: contain;
    animation: slide 60s linear infinite;
}

main {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kalam';
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.start > h1 {
    font-size: calc(2.5rem + 1vw);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.start-button,
.two-player-start,
.win-button,
.ai-start {
    width: var(--btn-width);
    height: var(--btn-height);
    border: var(--btn-border);
    border-radius: var(--btn-radius);
    font-size: var(--btn-font-size);
    background-color: var(--green);
    font-family: sans-serif;
}

.start-button[disabled] {
    background-color: lightgray;
}

.two-player-input,
.ai-input {
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: calc(1rem + 1vw);
}

.two-player-input > input,
.ai-input > input {
    width: 120%;
    height: 2rem;
    border: var(--btn-border);
    border-radius: var(--btn-radius);
    padding: 0 5%;
}

#player-one-name {
    margin-bottom: 1rem;
}

.two-player-start,
.ai-start {
    margin-top: 2rem;
}

.board {
    display: none;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
    font-family: 'Arial';
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25vmin;
    min-height: 25vmin;
    justify-self: center;
    font-size: calc(3rem + 3vw);
    border: 3px solid var(--sqr-border-clr);
    font-weight: 1000;
    cursor: default;
}

.square:nth-child(-n+3) {
    border-top: var(--sqr-border);
}

.square:nth-last-child(-n+3) {
    border-bottom: var(--sqr-border);
}

.square:nth-last-child(3n) {
    border-left: var(--sqr-border);
    margin-right: -4px;
    margin-left: -1px;
}

.square:nth-child(3n) {
    border-right: var(--sqr-border);
    margin-left: -2px;
}

.square:first-child {
    border-top-left-radius: var(--sqr-radius);
}

.square:nth-child(3) {
    border-top-right-radius: var(--sqr-radius);
}

.square:nth-child(7) {
    border-bottom-left-radius: var(--sqr-radius);
}

.square:last-child {
    border-bottom-right-radius: var(--sqr-radius);
}

.win {
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: calc(1rem + 1vw);
    gap: 2rem;
}

.win-button-quit {
    background-color: var(--red);
}

@keyframes slide {
    0% {
      background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}