@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --green: rgb(157, 255, 165);
    --red: rgb(250, 150, 150);
    --btn-width: 14rem;
    --btn-height: 4rem;
    --btn-border: 2px solid rgb(107, 107, 107);
    --btn-radius: 1rem;
    --btn-font-size: calc(1.5rem + 0.5vw);
}

main {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kalam';
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.start > h1 {
    font-size: calc(2.5rem + 1vw);
}

.start-button {
    width: var(--btn-width);
    height: var(--btn-height);
    border: var(--btn-border);
    border-radius: var(--btn-radius);
    font-size: var(--btn-font-size);
    background-color: var(--green);
    font-family: inherit;
}

.two-player-input {
    display: none;
}

.ai-input {
    display: none;
}

.board {
    display: none;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
    font-family: 'Arial';
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25vmin;
    min-height: 25vmin;
    justify-self: center;
    font-size: calc(3rem + 3vw);
    border: 1px solid black;
    font-weight: 1000;
    cursor: default;
}

.win {
    display: none;
}